.features {
  display: flex;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
}

.features-icon {
  height: 70px;
  width: 70px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
